body{
    background-color:skyblue;
    font-family:Verdana, sans-serif;
}

.container{
    height:85vh;
    width:30vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;
    border-radius: 4%;
    margin:auto;
    margin-top:10vh;
    background-color: white;
}

h1{
    text-align: center;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: start;
    
    width:60%;


    
}

.error{
    background-color: rgb(243, 32, 19);
}

.subs{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    border-radius: 5%;
    width: 100%;
}

.button{
    margin-top:2vh;
}